{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS --> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/coreui-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">

    {% if title %}
		<title>Explosão Cell - {{ title }}</title>
	{% else %}
		<title>Explosão Cell</title>
	{% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'website/img/favicon.png' %}" height="45px">
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

              <a class="nav-item nav-link" href="{% url 'home' %}">.início</a>
              <a class="nav-item nav-link" href="#">.loja</a>
              <a class="nav-item nav-link" href="{% url 'manutencao:consulta' %}">.manutenção</a>


            </div>
            
            <div class="navbar-nav">
               {% if user.profile.tipo_perfil == '0' %}
              <a class="nav-item nav-link" href="{% url 'services' %}">.área do operador</a>
            </div>
            {% else %}
            {% endif %}
              <div class="navbar-nav">
              {% if user.is_authenticated %}
               <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img class="rounded header-acc-img" href="#" src="{{ user.profile.image.url }}"></a>
               <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'profile' %}">.logado como <strong>{{ user.username }}</strong></a>
                <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="{% url 'profile' %}">.meu perfil</a>


               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="{% url 'logout' %}">.sair</a>
               </div>
               </li>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">.entrar</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">.registrar</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
  
      <div class="row">
          {% if messages %}
            {% for message in messages %}
            <div class="container-fluid">
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          
          
</div>
</div>
{% block content %}{% endblock %}


    
<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
</body>

<!--Footer
<footer>
  <div class="fw-footer">
      <div class="skew"></div>
        <div class="skew-bg"></div>
          <div class="copyright">
            <img src="{% static 'website/img/favicon_footer.png' %}" height="40px"></br>
            Av. Dr. José Mariano, 500, Citrolândia - Betim/MG.</br>Explosão Cell Design e Criação por Leandro Passos.</br>Copyright © Explosaocell.com.br. Todos os direitos reservados.
          </div>
        </div>
</footer>	-->
</html>