{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS --> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
    {% if title %}
		<title>COSMOS - {{ title }}</title>
	{% else %}
		<title>COSMOS</title>
	{% endif %}
</head>
<body>
    <header>
      <!-- Navbar Topo -->
      <nav class="navbar navbar-expand-md navbar-dark bg-navbar-head">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'website/img/favicon.png' %}" height="100px">
            </a>
            <div class="navbar-nav-head">
              {% if user.is_authenticated %}
               <li class="nav-item no-li-display dropdown">
               <a class="nav-link-head-aux dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img class="rounded header-acc-img" href="#" src="{{ user.profile.image.url }}"></a>
               <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'profile' %}">logado <strong>{{ user.username }}</strong></a>
                <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="{% url 'profile' %}">meu perfil</a>


               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="{% url 'logout' %}">sair</a>
               </div>
               </li>
              {% else %}
                <a class="button btn-info btn-circle btn-h-sp nav-link-head" href="{% url 'login' %}">ENTRAR</a>
                <a class="nav-item nav-link-head-aux" href="{% url 'register' %}">REGISTRAR</a>
              {% endif %}
            </div>
          </div>
      </nav>
      </header>
      <!-- Navbar Auxiliar -->
      <nav class="navbar navbar-expand-md navbar-dark bg-navbar">
        <div class="container">
          <!-- Mobile Itens -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <!-- Controles esquerda -->
              <a class="nav-item nav-link" href="{% url 'home' %}">INÍCIO</a>
              <a class="nav-item nav-link" href="#">CONSULTAS</a>
            </div>
            <!-- Controles direita -->

              <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'home' %}">SOBRE</a>
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'home' %}">MINHA ÁREA</a>
              {% endif %}
            </div>

          </div>
        </div>
      </nav>
    
  
      <div class="row">
          {% if messages %}
            {% for message in messages %}
            <div class="container-fluid">
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          
          
</div>
</div>
{% block content %}{% endblock %}


    
<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
</body>

<!--Footer
<footer>
  <div class="fw-footer">
      <div class="skew"></div>
        <div class="skew-bg"></div>
          <div class="copyright">
            <img src="{% static 'website/img/favicon_footer.png' %}" height="40px"></br>
            Av. Dr. José Mariano, 500, Citrolândia - Betim/MG.</br>Explosão Cell Design e Criação por Leandro Passos.</br>Copyright © Explosaocell.com.br. Todos os direitos reservados.
          </div>
        </div>
</footer>	-->
</html>