{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

	<style>
    	.google-maps {
        	position: relative;
        	padding-bottom: 75%; // This is the aspect ratio
        	height: 0;
        	overflow: hidden;
    	}
    	.google-maps iframe {
        	position: absolute;
        	top: 0;
        	left: 0;
        	width: 100% !important;
        	height: 100% !important;
    	}
	</style>
    
<div class = "google-maps" > 
	<iframe src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d169732.02527613664!2d-44.293160261902194!3d-19.941956585066702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6c24a5fb01f9b%3A0xdae51d9facff118f!2sBetim%2C%20MG!5e0!3m2!1spt-BR!2sbr!4v1574095527940!5m2!1spt-BR!2sbr" width = " 600 " height = " 450 " frameborder = " 0 " style = " border : 0 " > 
	</iframe> 
</div> 

{% endblock content %}