{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="features-boxed">
	<div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-size: 30px;">Cadastrar Cliente</h2>
            <p class="text-center">Cadastro de cliente para o CPF/CNPJ: {{ new_cid }} <a class="btn" href="{% url 'novo_cliente' %}"><i class="fas fa-exchange-alt"></i></a></p>
            </div>
            <form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ form|crispy }}					
			</fieldset>
			<div class="form-group" align="center">
				<button class="btn btn-primary" type='submit'>Cadastrar</button>
			</div>
			<br>
		</form>
</div>
</div>

<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script type="text/javascript">
	$("#id_cep").focusout(function(){
		$.ajax({
			url: 'https://viacep.com.br/ws/'+$(this).val()+'/json/unicode/',
			dataType: 'json',
			success: function(resposta){
				$("#id_endereco").val(resposta.logradouro);
				$("#id_bairro").val(resposta.bairro);
				$("#id_cidade").val(resposta.localidade);
				$("#id_uf").val(resposta.uf);
				$("#numero").focus();
			}
		});
	});
</script>

{% endblock content %}