{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="features-boxed">
	<div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-size: 20px; margin-bottom: 20px!important">Minha(s) Assistência(s)</h2>
            </div>
            
            <div class="row justify-content-center features">
            	{% for e in empresas_usuario %}
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fas fa-search icon"></i>
                        <h3 class="name">{{ e.nome_fantasia }}</h3>
                        <p class="text-center description">{{ e.identificacao }}</p>
                        <button class="btn btn-primary" type="submit">Gerir</button>
                    </div>
                </div>
                {% endfor %}
            </div>

</div>
</div>


{% endblock content %}