{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="features-boxed">
	<div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-size: 30px;">Novo Cliente</h2>
            <p class="text-center">Insira o CPF/CNPJ do cliente a ser cadastrado.</p>
            </div><br><br>
           
        <div class="container" style="max-width: 800px;">
	    <form action="#" method="POST"> {% csrf_token %}
	      <div class="input-group mb-3" >
	      	 {% if messages %}
            {% for message in messages %}
            <div class="container-fluid">
              <div class="alert alert-danger">
                {{ message }}
              </div>{% endfor %}
          </div>{% endif %}
	        <div class="input-group-prepend">
	          <span class="input-group-text" id="basic-addon1">Digite o CPF/CNPJ do Cliente: </span>
	        </div>
	          <input class="form-control" type="clienteID" name="clienteID" placeholder="CPF/CNPJ" style="height: auto;" />
	        <div class="input-group-append">
	          <button class="btn btn-primary" type="submit" name="action" value="consultaPorId" >Ir &raquo;</button>
	        </div>
	      </div>
	    </form>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>


	</div>
</div>

{% endblock content %}